<!-- head部分 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta property='og:type' content='website'>
    <meta property='og:title' content='yu9824のポートフォリオ'>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property='og:description' content='yu9824のポートフォリオサイトです。'>
    {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}"> <!-- 絶対パスじゃないとダメらしい． -->
    {% else %}
    <meta property="og:image" content="{{ '/img/ogp.png' | relative_url }}">
    {% endif %}
    <meta name="description" content="yu9824のポートフォリオサイトです。" />
    <title>yu9824のポートフォリオ</title>
  
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <!-- /google font -->
  
    <!-- ress.cssで違いを吸収 -->
    <link href="{{ '/css/ress.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ '/css/style.css' | relative_url }}" media="all" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="{{site.favicon | relative_url }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  
    <!-- font awesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- /font awesome -->
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5F020NKKQH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-5F020NKKQH');
    </script>
    <!-- /Google Analytics -->
  </head>