<header class="header">
  <div class="inner">
    <h1 class="header-logo">
      <a href="{{site.url}}{{site.baseurl}}/">yu9824</a>
    </h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        {% for nav-item in site.data.header-nav-items%}
        <li class="header-nav-item">
          <a href="{{site.url}}{{site.baseurl}}/#{{nav-item.id}}" data-scroll-to="#{{nav-item.id}}">
            {{nav-item.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
