<div class="works-list">
    {% for page in site.pages %}
    {% if page.dir == '/works/' %}
    <a class="works-item" href="{{ page.url | relative_url }}">
        {% if page.image %}
        <div class="works-img">
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" loading="lazy" />
        </div>
        {% else %}
        <div class="works-img">
            <img src="{{ '/img/works-default-thumb.jpg' | relative_url }}" alt="{{ page.title }}" loading="lazy" />
        </div>
        {% endif %}
        <p class="works-name"> {{ page.title }} </p>
        <p class="works-description"> {{ page.description }} </p>
    </a>
    {% endif %}
    {% endfor %}
</div>
