<div class="works-list">
    {% for page in site.pages %}
    {% if page.dir == '/works/' %}
    <a class="works-item" href="{{ page.url | relative_url }}">
        <div class="works-img">
            {% if page.image %}
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" loading="lazy" />
            {% else %}
            <img src="{{ '/img/works-dummy-thumb.jpg' | relative_url }}" alt="{{ page.title }}" loading="lazy" />
            {% endif %}
        </div>
        <p class="works-name"> {{ page.title }} </p>
        <p class="works-description"> {{ page.description }} </p>
    </a>
    {% endif %}
    {% endfor %}
</div>
