<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="wrapper">
        {% include header.html %}

        {{ content }}

        {{ site.url | inspect}}
        <!-- ページトップへ遷移 -->
        <div id='app-top'>
            <div class="page-top" v-scroll-to="{
                el: 'body,html',
                duration:300,
            }">
                <span class="material-icons-outlined"><i class="fas fa-angle-down fa-flip-vertical"></i></span>
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>
{% include foot.html %}
</html>