<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="wrapper">
        {% include header.html %}

        {{ content }}

        <!-- ページトップへ遷移 -->
        <div class="page-top" id="page-top">
            <span class="material-icons-outlined"><i class="fas fa-angle-down fa-flip-vertical"></i></span>
        </div>
        <footer class="footer">
            <div class="copyright">&copy; 2025 yu9824</div>
        </footer>
    </div>

    <!-- Scripts -->
    <script defer src="{{ '/js/scroll.js' | relative_url}}"></script>
    <script defer src="{{ '/js/target_blank.js' | relative_url}}"></script>
</body>

</html>
