---
layout: common
title: portfolio
abstract: <span>Vue.jsで作成した</span><span>自分のポートフォリオサイト．</span>
---

<main class="content">

  <article class="article">
    <div class="article-inner">
      <h2 class="article-title">Portfolio</h2>
      <p class="article-img">
        <img src="{{site.url}}/img/portfolio_intro.png" alt="yu9824's portfolio">
      </p>
      <div class="article-body">
        <p>
          
        </p>
        <h3 class="article-info-title"><div>URL</div></h3>
        <p><a href="../" target="_blank" rel="noopener">https://yu9824.github.io/portfolio/</a></p>
        <h3 class="article-info-title"><div>使用言語等</div></h3>
        <p>HTML / CSS, Javascript (Vue.js)</p>
        <h3 class="article-info-title"><div>サイトの目的</div></h3>
        <p>サイトの作成を，公開前提の緊張感の中で行いたいと考えたこと，就職活動において自分のスキルを十分アピールすることができなかったため，今後はそれにおいて困らないようにするため．</p>
        <h3 class="article-info-title"><div>デザインについて</div></h3>
        <p>
          <a href="https://webdesigner-go.com/template/portfolio-02/" target="_blank" rel="noopener">こちら</a>のテンプレートを元にし，構成を変更したほか，デザインやfontawesomeの導入，jQueryのVue.jsへの書き換えなどを行い，作成しました．
        </p>
        <p>
          テンプレートがウェブデザイナー向けであったため，コーディングスキルの部分をどのように表すかなどのウェブサイトの構成について自分で考えなければならず，大変でした．
        </p>
        <h3 class="article-info-title"><div>コーディングについて</div></h3>
        <p>
          静的なサイトのデモは大学2年生くらいのときに作ってみたのですが，そのときは写経するのみで，かつjQueryを使用するものでした．
        </p>
        <p>
          今回は，Vue.jsを使ってみました．CDNを使っており，全ての良さを引き出せてはいないかもしれませんが，基本的な仕様 (<code>v-for</code>, <code>v-on</code>や componentなど) を学ぶことができました．
        </p>
        <p>
          より大規模なものを作成する場合は，Node.jsによるパッケージの管理，環境構築や，CLIに取り組みたいです．
        </p>
        <h3 class="article-info-title"><div>ソースコード</div></h3>
        <div class="source-code-link">
          <a href="https://github.com/yu9824/portfolio" target="_blank" rel="noopener">
            <i class="fab fa-github github-icon"></i>
          </a>
        </div>
      </div>
      <div class="home-link">
        <a href="{{site.url}}/#works">Works一覧へ</a>
      </div>
    </div>
  </article>

  <div id="app-pagetop">
    <page-top/>
  </div>
</main>
